.amn {
  overflow: hidden;
  .amn-text {
    opacity: 0;
    transform-origin: top left;
    animation: AmnText 600ms ease forwards;
  }
}

@keyframes AmnText {
  from {
    transform: translate(-100px, -100px) rotate(45deg);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0) rotate(0);
  }
}

.amn-opacity-transformY100 {
  opacity: 0;
  animation: AmnOpacity 600ms ease forwards;
}

@keyframes AmnOpacity {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes AmnBtt {
  from {
    transform: translateY(25%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);

  }
}
